# Xcode
.DS_Store
*/.DS_Store
*.swp
*~.nib
*.mode1v3
*.mode2v3
*.perspectivev3
*.o
*.obj
*.tbd
*.dSYM
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xg
*.xcuserstate

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Sensitive Data
GoogleService-Info.plist

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Firebase
firebase-debug.log
.firebase/
firestore.rules
